body,html{
	height:100vh;
	margin:0;
	padding:0;
	font: 90%/180% Arial, Helvetica, sans-serif;

}

body {
	/* background: #fff;
	color: #666; */
	  color:brown;
	  height: 100vh;
    background-image: url(bg-01.jpg);
		background-repeat: no-repeat;
	  background-position: center;
	  background-size: cover;
		display:grid;
		place-content:center;


}

.container{
	color:brown;
	height:auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
input {
	color:brown;
	outline: none;
	margin:20px;
	opacity: 0.6;
}
input[type=search] {
	color:brown;
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	 font-size: 100%;
	/* margin-top: 40%; */
	/* margin-bottom: 50%;  */
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 10px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 85px;
	color:brown;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	opacity: 0.6;
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
.highlight
{  color:brown;
	 display: inline-block;
	 height :20%;
	 width:  100%;
	 padding: 0 0 30px 20px;
}
.button
{	color:brown;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
	text-align: center;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 540;
	text-decoration:navy;
  background-color: whitesmoke;
  border-radius: 12px;
  box-shadow: 0 px #999;
	opacity: 0.6;
}
.button:hover{
		opacity: 0.6;
		background-color: lightgrey;
}
.button:active{
		opacity: 0.6;
		background-color: papayawhip;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
