body,
html {
    font: 90%/180% Arial, Helvetica, sans-serif;
}
body {
    text-decoration-color: brown;
    height: 10vh;
    background-image: url("../static/bg-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    place-content: center;
}
label{
  display:flex;
  flex-direction: row;
  justify-content: center;
  width:400px;
  margin-bottom: 10px;
}
button{
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 540;
  text-decoration: navy;
  background-color: whitesmoke;
  border-radius: 2px;
  margin-top: 50px;
}
.container {
    font-size: 20px;
    height: 10vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    backface-visibility: visible;
}

input {
    outline: inherit ;
    margin: 20px;
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 10px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 100px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
    width: 130px;
    margin-top: 80%;
    background-color: #fff;
    border-color: #66CC75;
    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

input:-moz-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}

.texpt {
    display: inline-block;
    height: 20%;
    width: 20%;
    padding: 0 0 30px 20px;
}

.button,{
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    color: inherit;
    margin-bottom: 1000px;
    text-align: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 540;
    text-decoration: navy;
    background-color: whitesmoke;
    border-radius: 12px;
    box-shadow: 0 px #999;
}

.button:hover {
    background-color: lightgrey;
}

.button:active {
    background-color: papayawhip;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
